<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-dark-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-blue</string>
				</array>
			</dict>
			<key>icon-dark-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-green</string>
				</array>
			</dict>
			<key>icon-dark-mint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-mint</string>
				</array>
			</dict>
			<key>icon-dark-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-orange</string>
				</array>
			</dict>
			<key>icon-dark-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-purple</string>
				</array>
			</dict>
			<key>icon-dark-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-red</string>
				</array>
			</dict>
			<key>icon-light-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-green</string>
				</array>
			</dict>
			<key>icon-light-mint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-mint</string>
				</array>
			</dict>
			<key>icon-light-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-orange</string>
				</array>
			</dict>
			<key>icon-light-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-purple</string>
				</array>
			</dict>
			<key>icon-light-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-red</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon-default</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
</dict>
</plist>
